@font-face {
    font-family: Chalkduster;
    src: url("./fonts/Chalkduster.ttf");
  }

.text-common {
    font-family: "Chalkduster";
    color: #ba55d3;
    font-size: 40px;
}

body { 
  background-color: Black; 
  color: Black;
  height: 100%;
  margin: 0;
}

.center {
  margin: auto;
  width: 75%;
  padding: 10px;
}

html {
  height: 50%;
  margin: 0;
}

.wrapper {
  min-height: 125%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -75px;
}
.footer {
  height: 10px;
}

.space  {
  height: 10px;
}

img {

  display: block;

  
  margin-left: auto;
  
  margin-right: auto;
  
  }
